body{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
}

.hero{
    background-color: beige;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.lilitaone{
    font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.anton{

        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
    
      
}

.quicksand{
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 8px;
  font-style: normal;
}

ul{
    list-style: none;
}

li{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#menu{
    display: none;

}
.menu{
    cursor: pointer;
}

.menu-lista > ul > li{
    text-align: center;
}

footer{
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoscuola{
    height: 13vh;
    display: flex;
    align-items: center;
}
.imgLogo{
    height: 80%;
}

.info > a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 8px;
    border-radius: 10px;
}


footer > div {
    width: 33.33333%;
    display: flex;
    justify-content: center;
}

.inizio{
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenitore{
    width: 40%;
    background-image:  linear-gradient(rgba(255, 255, 255, 0.7)), url(img/Contenitore1.jpg);
 
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 60%;
    margin: 30px;
    
    justify-content: center;
    align-items: center;
    

}



.contenitore > h3{
    padding: 30px;
}

.contenitore > p{
    padding: 30px;
    margin-top:     4%;
}



.contenitore1{
    width: 40%;
    background-image: url(./img/722a6096-fb69-499e-a40a-ae8513d8b284.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    margin: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    

    
}
.contenitore2{
    width: 40%;
    
    background-image: url(./img/sfondo-di-tema-moderna-di-musica_1035-9682.avif);
    height: 60%;
    margin: 30px;
    
    justify-content: center;
    align-items: center;
}
.contenitore3{
    width: 40%;
   background-image: url(./img/gizli-netflix-ozellikleri-cok-fazla-bilinmeyen-7-netflix-ozelligi-s2oI-2148473539.jpg);
    height: 60%;
    margin: 30px;
    
    justify-content: center;
    align-items: center;
}
.contenitore4{
    width: 40%;
    background-image: url(./img/95e4a87c61621e7f73c3569fdfc31efe.jpg);
    height: 60%;
    margin: 30px;
    
    justify-content: center;
    align-items: center;
}



/* animazione mouse su contenitori */

.contenitore:hover{
    background-color: steelblue;
    transition: 0.3s;
}

.CV{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.curriculum{
    width: 65%;
    padding: 30px;
    border: 1px solid black;
    margin-top: 20%;
}

.intestazioone{
text-align: center;
}

.fasciaDownload{
    background-color: lightskyblue;
    width: 100%;
    height: 10vh;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Bottone{
    background-color: white;
    color: lightskyblue;
    padding: 10px 20px;
    border-radius: 15px;
    
}

a{
    text-decoration: none;
}

.Bottone:hover{
    background-color: lightskyblue;
    color: white;
    border: 1px solid white;
}
.bonus{
    height: 50vh;
}

.testo{
    width: 60%;
    text-align: center;
   
}
.intro-stage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.relazione-terza{
    display: flex;
}
.sx , .dx {
width: 50%;
padding: 5%;
display: flex;
justify-content: start;
align-items: center;
flex-direction: column;
}

.immagine{
    width: 80%;
    padding: 3%;
    display: flex;
    justify-content: center;
}
.relazione-secondo{
    display: flex;
    background-color: lightskyblue;
    align-items: center;
}
.imag{
    width: 110%;
    padding: 10px;
}

.relazione-quarta{
  display: flex;
    background-color: lightskyblue;
    align-items:center ;
     justify-content: left;

}

.immag{
    width: 80%;
    padding: 3%;
    display: flex;
    justify-content: right;


}



